.action {
  margin: 45px 0;
  .action_all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .action_card1,
    .action_card2 {
      max-width: 520px;
      background: rgba(243, 247, 252, 1);
      padding: 48px 60px;
      width: 520px;
    }
    .action_card1 {
      margin-right: 15px;
    }
    .action_card2 {
      margin-left: 15px;
    }
  }
}
@media (max-width: 1100px) {
  .action {
    .action_all {
      // flex-direction: column;
      // align-items: center;

      .action_card1 {
        margin: 0 14px 0 14px;
        width: 290px;
        align-self: center;
        padding: 48px 25px;
        h3 {
          max-width: 290px;
        }
      }
      .action_card2 {
        margin: 0 14px 0 14px;
        width: 290px;
        align-self: center;
        padding: 48px 25px;
        h3 {
          max-width: 200px;
        }
      }
    }
  }
}
@media (max-width: 545px) {
  .action {
    .action_all {
      flex-direction: column;
      align-items: center;

      .action_card1 {
        margin-bottom: 20px;
      }
    }
  }
}
