.main {
  .blocktopfaq {
    background-color: #f3f7fc;
    padding: 56px 0;
    h2 {
      padding: 0 16px;
      margin: 0;
    }
  }
}
@media (max-width: 970px) {
  .main {
    .blocktopfaq {
      h2 {
        margin-top: 70px;
      }
    }
  }
}
