.container_blocktop {
  position: relative;
  background: linear-gradient(263.7deg, #eee4d0 6.62%, #f3f7fc 95.78%);

  .line2 {
    position: absolute;
    bottom: 0;
    bottom: -5px;
    left: 0;
  }
  .blocktop {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 462px;
    justify-content: space-around;

    .blocktop_text {
      max-width: 500px;

      h1 {
        font-size: 44px;
        padding-bottom: 100px;
      }

      h2 {
        text-align: left;
        margin: 18px 0 27px;
      }
    }
  }
  .blocktop_text2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 435px;
    padding-bottom: 100px;
  }
}
.blocktop_img2 {
  display: none;
}

@media (max-width: 1100px) {
  .container_blocktop {
    padding: 114px 16px 100px;
    background-image: none;
    background: linear-gradient(156deg, #eee4d0 6.62%, #f3f7fc 95.78%);

    height: auto;
    .line2 {
      display: none;
    }
    .blocktop {
      flex-direction: column;
      height: auto;
      align-items: initial;
      .blocktop_text {
        margin-bottom: 0;

        h1 {
          font-size: 32px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          padding-bottom: 0px;
        }
      }
      .blocktop_text2 {
        padding-bottom: 0px;
      }
    }
  }
  .blocktop_img2 {
    display: block;
    width: 212px;
    position: absolute;
    bottom: -5px;
    right: 0;
  }
}
@media (max-width: 1250px) {
  .line1 {
    display: none;
  }
}
@media (max-width: 500px) {
  .blocktop_text {
    h1 {
      max-width: 280px;
    }
  }
}
