.container_blocktop {
  position: relative;
  background: linear-gradient(263.7deg, #eee4d0 6.62%, #f3f7fc 95.78%);

  .line1 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: 15px;
  }
  .line2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .blocktop {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 585px;
    justify-content: space-around;

    .blocktop_text {
      max-width: 366px;
      margin-bottom: 120px;

      .gold {
        color: rgba(173, 128, 36, 1);
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.22em;
        text-align: left;
      }
      h2 {
        text-align: left;
        margin: 18px 0 27px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  .blocktop_text2 {
    max-width: 450px;
  }
}
.blocktop_img2 {
  display: none;
}
@media (max-width: 1100px) {
  .container_blocktop {
    padding: 64px 16px 100px;
    background-image: none;
    background: linear-gradient(156deg, #eee4d0 6.62%, #f3f7fc 95.78%);
    padding-top: 30px;
    height: auto;
    .line2 {
      display: none;
    }
    .blocktop {
      flex-direction: column;
      height: auto;
      .blocktop_text {
        margin-bottom: 0;

        h2 {
          font-size: 32px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
  .blocktop_img2 {
    display: block;
    width: 212px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 1250px) {
  .line1 {
    display: none;
  }
}
