.helping {
  margin-top: 65px;
  h2 {
    padding-bottom: 58px;
    max-width: 656px !important;
    text-align: center;
    margin: 0 auto;
  }

  .cardleft {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card_text {
      max-width: 405px;
      align-self: center;
    }
  }
  //cardright
  .cardright {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 58px;

    .card_text {
      max-width: 405px;
      align-self: center;
    }
  }
}
@media (max-width: 1100px) {
  .helping {
    margin: 37px auto 38px auto;

    h2 {
      padding-bottom: 38px;
      max-width: 340px !important;
    }

    .cardleft {
      flex-direction: column;
      align-items: center;
      .card_text {
        h3 {
          font-size: 22px;
          line-height: 26px;
          letter-spacing: 0em;
          padding-top: 27px;
        }
        p {
          padding-bottom: 10px;
        }
      }
    }
    .cardright {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 45px;
      .card_text {
        h3 {
          font-size: 22px;
          line-height: 26px;
          letter-spacing: 0em;
          padding-top: 27px;
        }
        p {
          padding-bottom: 10px;
        }
      }
    }
  }
}
