.container_footer {
  color: white;
  background: rgba(24, 28, 63, 1);
  .footer {
    background: rgba(24, 28, 63, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -13px;

    .footer_text {
      margin-left: 121px;
      padding-top: 56px;
      height: 400px;

      .in {
        font-size: 22px;
        font-weight: 900;
      }
      .footer_contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(24, 28, 63, 1);
        padding-top: 20px;
        ul {
          padding-left: 0;
          li {
            padding-bottom: 10px;
          }
        }
        .col1 {
          margin-right: 117px;
        }
        .col2 {
          margin-right: 74px;
        }
      }
    }
  }
  .rights {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.22em;
    padding: 21px 0;
  }
}
