html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
//buttons
.dark_blue {
  background-color: rgba(66, 72, 128, 1);

  border-radius: 5px;
  color: white;
  padding: 14px 34px;
  border: none;
  font-family: "Noto Sans";
  &:active {
    background-color: #ad8024;
  }
  &:hover {
    background-color: #ad8024;
  }
}
