$blue: rgba(66, 72, 128, 1);
$blue_light: rgba(243, 247, 252, 1);
$gold: rgba(173, 128, 36, 1);
$black: rgba(54, 61, 76, 1);
$grey: rgba(87, 97, 111, 1);
$white: rgba(255, 255, 255, 1);

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "basic-sans";
}
//headers
h1,
h2,
h3,
h4 {
  color: $black;
}
h1 {
  font-weight: 400;
  font-size: 44px;
  line-height: 53px;
}
h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 47px;
}
h3 {
  //styleName: H3;
  margin-top: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  color: $grey;
}
ul {
  list-style: none;
}
hr {
  border: 1px solid $gold;
  margin-top: -7px;
}
//buttons
.dark_blue {
  background-color: $blue;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 5px;
  color: white;
  padding: 14px 34px;
  border: none;

  &:active {
    background-color: #ad8024;
  }
  &:hover {
    background-color: #ad8024;
  }
}
.main_link {
  border-bottom: $gold solid 1px;
  display: inline-block;
  line-height: 1.4em;
  position: relative;
  font-size: 16px;
  transition: 1s;

  &:hover {
    color: $gold;
  }
}
