// БАЗОВАЯ ТИПОГРАФИКА
$font-size: 16px;
$font-size-sm: 0.5em; // 12px от 16px
$line-height: 26.4;
$font-family: "Noto Sans", sans-serif;
$font-family--h1h2h3: "Museo", sans-serif;

// ШИРИНЫ
$screen-xs: 375px;
// $screen-sm: 540px;
// $screen-md: 768px;
// $screen-lg: 1024px;
$screen-xl: 1280px;

$container-width: 100%;
$container-slider: 1346px;

.menu_up {
  padding: 21px 10px;
  max-width: $screen-xl;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family;

  a {
    padding: 0 20px;
    color: rgba(87, 97, 111, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    transition: 1s;
    &:active {
      color: #ad8024;
    }
    &:hover {
      color: #ad8024;
      transition: 1s;
    }
  }
  button {
    font-family: $font-family;
    font-weight: 400;
    line-height: 19.2px;
    font-size: 16px;
    transition: 1s;
  }
}

@media (max-width: 970px) {
  .menu_all {
    display: none;
  }
}
