.menu_ul {
  position: absolute;
  left: -240px;
  list-style: none;
  overflow: auto;
  height: 100%;
  list-style-type: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;

  background: rgba(24, 28, 63, 1);
  z-index: 200;
  .logo_up_adapt {
    padding-top: 12px;
    padding-bottom: 82px;
  }
}
.navbar {
  display: block;
  height: 78px;
  background-color: white;
  width: 100%;
  z-index: 100;
  position: fixed;

  .logo_up {
    padding: 14px 0 160.13px 14px;
  }

  .menuBtn {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    right: 15px;
    top: 23px;
    width: 30px;
    height: 21px;
    &:checked {
      ~ {
        .menu_ul {
          padding-left: 16px;
          top: -20px;
          left: 0px;
          width: 66%;
          transition: 0.5s;
          position: fixed;

          li {
            padding-bottom: 46px;
          }
        }

        .menuIcon {
          .navicon {
            background: transparent;
            &:before {
              transform: rotate(-45deg);
            }
            &:after {
              transform: rotate(45deg);
            }
          }
          &:not(.steps) {
            .navicon {
              &:before {
                top: 0;
              }
              &:after {
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}

.menuIcon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: absolute;
  top: 8px;
  right: 0;
  user-select: none;
  .navicon {
    background: #222722;
    display: block;
    height: 2px;
    margin: 3px 0;
    position: relative;
    transition: 0.3s ease-out;
    width: 27px;
    &:before {
      background: #222722;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.3s ease-out;
      width: 100%;
      top: 5px;
    }
    &:after {
      background: #222722;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.3s ease-out;
      width: 100%;
      top: -5px;
    }
  }
}
@media (min-width: 970px) {
  .navbar {
    display: none;
  }
}
