.container_partners {
  margin: 60px auto;
  max-width: 1120px;

  .part1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 60px;
    .img {
      margin: 0 31px;
    }
  }
  .part2 {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .img {
      margin: 30px 26px;
    }
    #img_margin {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .part3,
  .part4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .part3 {
    .img {
      margin: 0 40px;
    }
  }
  .part4 {
    .img {
      margin: 30px 20px;
    }
  }
}

@media (max-width: 1060px) {
}
