.container_payment {
  .payment {
    align-items: center;
    height: 487px;
    max-width: 1334px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    padding: 0 75px 0 67px;
    border-radius: 10px;
    text-align: center;

    .payment_title {
      max-width: 470px;
      h3 {
        text-align: center;
      }
    }
    .payment_details {
      max-width: 520px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      //   flex-wrap: wrap;
      .col1,
      .col2 {
        max-width: 260px;
        .elem {
          height: 137px;
          h5 {
            margin-bottom: 13px;
            font-size: 19px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            &::before {
              content: "+";
              margin-right: 15px;
              margin-left: -25px;
              color: rgba(173, 128, 36, 1);
            }
          }
        }
      }
      .col1 {
        margin-right: 44px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .container_payment {
    .payment {
      padding: 40px 16px;

      .payment_details {
        margin-left: 55px;
        flex-direction: column;
        .col1,
        .col2 {
          .elem {
            height: auto;
          }
        }
        .col1 {
          margin-bottom: -20px;
        }
      }
    }
  }
}
