body {
  .main {
    margin: 50px 16px;
    .container {
      h2 {
        font-size: 44px;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 27px;
        color: rgba(54, 61, 76, 1);
      }
      margin: 0 auto;
      max-width: 800px;
      ul {
        list-style: disc;
      }
      p,
      ul {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #1e1e1e;
      }
    }
  }
}
@media (max-width: 970px) {
  body {
    .privacy_menu {
      margin-top: -50px;
    }
    .main {
      .container {
        padding-top: 80px;
        h2 {
          font-size: 32px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 37px;
        }
      }
    }
  }
}
