.container_reviews {
  margin: 103px 16px;
  .reviews {
    max-width: 628px;
    margin: 0 auto;
    h4 {
      font-size: 32px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: center;
    }
    p {
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.22em;
      text-align: center;
    }
  }
}
#backg {
  padding-top: 45px;
  background: linear-gradient(263.7deg, #eee4d0 6.62%, #f3f7fc 95.78%);
  border-radius: 10px;
  height: 315px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 16px;
  padding-left: 16px;
}
@media (max-width: 500px) {
  .container_reviews {
    margin: 0 16px !important;
    .reviews {
      h4 {
        font-size: 19px;
        line-height: 23px;
      }
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  #backg {
    margin-top: 0;
    padding-top: 80px;
    background: linear-gradient(178deg, #eee4d0 6.62%, #f3f7fc 95.78%);
  }
}
