.container_team {
  margin: 50px 16px 71px 16px;

  h3 {
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 73px;
  }
  .team {
    display: flex;
    flex-direction: row;
    max-width: 995px;
    justify-content: space-between;
    margin: 0 auto;
    .card_photo {
      text-align: center;
      p {
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        padding: 24px 0 14px;
        margin: 0;
        margin-bottom: -20px;
      }
      span {
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.22em;
        text-align: center;
      }
    }
  }
}
#clients {
  margin-bottom: 100px;
}
@media (max-width: 800px) {
  .container_team {
    h3 {
      margin-top: 43px;
      margin-bottom: 44px;
    }
    .team {
      flex-direction: column;
      align-items: center;
      .card_photo {
        margin-bottom: 43px;
        p {
          padding-top: 19px;
        }
      }
    }
  }
  #clients {
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
